body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/*  */

/* NAV BAR */
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  position: sticky;
  top: 0;
  background-color: #0c0f0a;
  font-size: 24px;
}
ul {
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  text-align: center;
  justify-content: center;
}
nav > ul img {
  max-width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid white;
}
ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  text-decoration: none;
  color: #fff8f0;
  padding: 10px;
}

ul a:hover:not(:first-child) {
  color: grey;
  border-bottom: 1px solid grey;
  padding-bottom: 3px;
}

/* CONTENT SECTION */
.home-content-body {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.home-content-body img {
  height: 300px;
  width: 400px;
  border-radius: 10px;
  border: 3px solid white;
}

.card {
  display: flex;
  border: 2px solid grey;
  border-radius: 20px;
  margin: 20px;
  padding: 32px;
  flex-wrap: wrap;
  background-color: #31393c;
  color: white;
}
.card h1 {
  text-decoration: underline;
  font-size: 30px;
}
.card p {
  font-size: 18px;
  text-align: left;
}
.swap {
  display: flex;
  flex-direction: row-reverse;
}

.content {
  width: 70%;
  text-align: center;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* FOOTER */
footer {
  color: white;
  background-color: #0c0f0a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.socials a {
  margin: 20px 30px;
}
.socials a:hover {
  transform: scale(1.2);
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  height: auto;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
}
/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #f53614;
  color: white;
}
/* Youtube */
.fa-youtube {
  background: #bb0000;
  color: white;
}

/* Reddit */
.fa-reddit {
  background: #ff5700;
  color: white;
}

/* SIGN UP  */

.signup-content {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  font-size: 22px;
}

.signup-images img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  margin: 40px 10px;
  border: 2px solid black;
  border-radius: 10px;
}
.signup-form {
  width: 40%;
  margin: 40px 10px;
  max-height: 80%;
}
.signup-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid red; */
}

form div {
  margin-bottom: 50px;
  max-width: 70%;
}
form div:last-child {
  text-align: center;
}
form button {
  background-color: #0c0f0a;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
form button:hover {
  background-color: rgb(252, 107, 81);
  color: black;
  transform: scale(1.1);
  font-size: 14px;
}

form label {
  display: inline-block;
  text-align: right;
  width: 150px;
  margin-right: 10px;
}
form input,
select {
  width: 40%;
  padding: 7px;
}

/* WHAT'S ON */
.whats-on-content-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid red;
  padding: 30px;
}
.whats-on-image {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  border: 2px solid blueviolet;
}
.whats-on-image img {
  width: 350px;
  height: 440px;
}

.whats-on-content {
  background-color: grey;
  display: flex;
  border: 2px solid grey;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: auto;
  padding: 50px;
  border-radius: 10px;
}
.whats-on-content h1 {
  text-align: center;
  text-transform: uppercase;
}
.whats-on-content.opening-times {
  display: flex;
  align-items: flex-start;
  background-color: grey;
}
.whats-on-content.opening-times div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: ; */
}
table {
  border: 1px solid blue;
  text-align: right;
  padding: 5px;
}
